.credential-add-form {
    padding: 0 clamp(1rem, 10vh, 6rem);
    margin-bottom: 1rem;

    .add-form-title{
        margin-bottom: 6px;
        color: $white;
    }
    form{
        display: grid;
        gap: 1.25rem;

        .form-floating--full-width{
            grid-column: 1 / -1;
        }        
        @media (min-width: 35em) {
            grid-template-columns: 1fr 1fr;
        }
    }
}