.content {
  .home-navbar {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    .nav-bar {
      display: flex;
      align-items: center;
    }
  }
}

.primary-header {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  .logo {
    // width: 200px;
    width: 120px;
    aspect-ratio: 4/2;
    margin-left: clamp(1.6rem, 7vw, 10rem);
    object-fit: cover;
    // @media (max-width:761px) {
    //     margin-left: 1.6rem;
    // }
  }
  .primary-navigation {
    --gap: 1rem;

    padding: 0;
    margin: 0;
    font-family: $primary-font;

    display: flex;
    gap: var(--gap);

    background: rgba($color: $white, $alpha: 0.1);
    backdrop-filter: blur(0.5rem);
    li {
      a {
        color: $white;
        font-size: 1.2rem;
        font-weight: 600;
      }
    }

    &[data-visible="true"] {
      transform: translateX(0);
    }

    @media (min-width: 761px) {
      --gap: clamp(1rem, 2vw, 3rem);
      padding-block: 2rem;
      padding-inline: clamp(1rem, 5vw, 10rem);
      // padding-inline: clamp(15px, 10%, 10rem);
    }

    @media (max-width: 761px) {
      --gap: 1.6rem;
      z-index: 1000;

      position: fixed;
      inset: 0 0 0 30%;

      flex-direction: column;
      padding: min(30vh, 6rem) 2rem;

      transform: translateX(100%);
      transition: transform 350ms ease-out;
    }
  }
  .mobile-nav-toggle {
    display: none;
    &[aria-expanded="true"] {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
    }
    @media (max-width: 761px) {
      display: block;
      position: absolute;
      z-index: 9999;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23fbfaff' d='M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
      border: none;
      background-repeat: no-repeat;
      width: 1.6rem;
      aspect-ratio: 1;
      outline: none;
      top: 2rem;
      right: 2rem;
      // color: #fff;
      // font-size: 1.5rem;
    }
  }
}
