.main-body {
    background: $light-bg-color;
    margin-block: clamp(2rem, 5vw, 6rem) 2rem;
    border-radius: 6px;
    box-shadow: 0 0 20px 5px $secondary-bg-color;
    padding-block: 1rem;
    padding-inline: clamp(.5rem, 1rem, 2rem);
    color: $white;
    .title {
        margin-bottom: 2rem;
        .button-section {
            display: flex;
            justify-content: flex-end;
            .site-add-button{
                i{
                    margin-right: 8px;
                }
            }
        }
    }
    .site-add-form{
        margin-bottom: 2rem;
        .form-site, .form-credential {
            // margin-bottom: 2rem;
            display: grid;
            // gap: 1.25rem;
            // grid-template-rows: 3fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: 
                'credential-left credential-right'
                'button-group button-group';
            gap: 1rem;     
            .credential-left, .credential-right {
                // width: 50%;
                .credential-info-group{
                    display: flex;
                    flex-direction: column;
                    margin-bottom: 1rem;
                    label{
                        margin-bottom: 6px;
                    }
                    input, .input{
                        padding: .5rem .8rem .5rem;
                        border: none;
                        outline: none;
                        border-radius: 5px;
                        max-width: 100%;
                    }
                    .input {
                        padding-inline: 0;
                        text-decoration: underline;
                    }
                }
            }
            .credential-left {
                grid-area: credential-left;
            }
            .credential-right {
                grid-area: credential-right;
            }
            @media (max-width:767px) {
                // grid-template-rows: 3fr 3fr 1fr;
                grid-template-columns: 1fr;
                grid-template-areas: 
                'credential-left'
                'credential-right'
                'button-group';
            }
        }
        .site-add-button-group {
            grid-area: button-group;
            display: flex;
            align-items: center;
            gap: 1rem;
            .pass-mgr-button {
                height: 80%;
                display: flex;
                align-items: center;
                position: relative;
                &::before {
                    --table-btn-icon-height: 20px;
                    
                    content: "";
                    margin-right: 10px;
                    width: var(--table-btn-icon-height);
                    height: var(--table-btn-icon-height);
                    background-repeat: no-repeat;
                    color: $white;
                }
            }
            .submit-btn {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z'/%3E%3C/svg%3E");
                }
            }
        }
    }
    .site-listing {
        display: grid;
        grid-template-columns: repeat(auto-fill,  minmax(30%, 1fr));
        gap: 2rem;
        .sites {
            max-width: 380px;
            display: flex;
            flex-direction: column;
            background-color: $bg-color;
            padding: 1rem 2rem 1rem;
            border-radius: 6px;
            cursor: pointer;
            
            .site-name {
                font-size: 1.6rem;
                letter-spacing: 2px;
            }
            .site-count {
                
            }
        }
        @media (max-width:767px) {
            grid-template-columns: 1fr;
        }
    }
}