.main-body {
    background: $light-bg-color;
    margin-top: 6rem;
    border-radius: 6px;
    box-shadow: 0 0 20px 5px $secondary-bg-color;
    padding: 1rem 2rem 1rem;
    color: $white;
    .title {
        margin-bottom: 2rem;
        .button-section {
            display: flex;
            justify-content: flex-end;
        }
    }
    .site-listing {
        display: grid;
        grid-template-columns: repeat(auto-fill,  minmax(30%, 1fr));
        gap: 2rem;
        .sites {
            max-width: 380px;
            display: flex;
            flex-direction: column;
            background-color: $bg-color;
            padding: 1rem 2rem 1rem;
            border-radius: 6px;
            cursor: pointer;
            
            .site-name {
                font-size: 1.6rem;
                letter-spacing: 2px;
            }
            .site-count {
                
            }
        }
    }
}