// Colors
$primary: #ffffff;
$secondary: #1e90ff;
$white: #ffffff;
$dark: #000000;
$bg-color: rgb(16, 24, 39);
$secondary-bg-color: rgb(21, 30, 47);
$light-bg-color: rgb(29, 40, 60);
$button-color: #C0C0C0;
$sec-button-color: #008080;

// Font
$primary-font: "Tomorrow", sans-serif;
$secondary-font: "Montserrat", serif;
$body-font: "Poppins", sans-serif;
$bg-image: url(../images/background.jpg);
$heading-size: 18px;