// Nav CSS

// .navbar {
//   background-color: #fff;
//   border-bottom: 1px solid black;
// }
  .nav-link {
    // color: rgba(0, 76, 255, 0.573);
    color: #000;
    font-size: 1.5rem;
    margin-top: 0.2rem;
  }

  .logout-btn {
    padding: 0.8rem 1.2rem;
    background-color: white;
    color: red;
    font-size: 1rem;
    border: 3px solid red;
    border-radius: 5rem;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: red;
      // border-color: white;
      transition: color 0.2s;
    }
  }

  // .table-container {
  //   .table-btn {
  //     display: inline-block;
  //     margin-right: 12px;
  //     text-align: center;
  //     text-decoration: none;
  //     padding: 0.5rem 1.2rem;
  //     width: 6rem;
  //     background-color: white;
  //     color: rgb(0, 98, 255);
  //     font-size: 16px;
  //     border: 3px solid rgb(0, 98, 255);
  //     border-radius: 5rem;

  //     &:hover {
  //       cursor: pointer;
  //       color: white;
  //       background-color: rgb(0, 98, 255);
  //       // border-color: white;
  //       transition: color 0.2s;
  //     }
  //   }
  // }
