// Colors
$primary: #ffffff;
$secondary: #1e90ff;
$white: #ffffff;
$dark: #000000;
$bg-color: rgb(16, 24, 39);
$light-bg-color: rgb(21, 30, 47);

// Font
$primary-font: "Tomorrow", sans-serif;
$secondary-font: "Montserrat", serif;
$body-font: "Poppins", sans-serif;
$bg-image: url(../images/background.jpg);
$heading-size: 18px;