body {
  font-family: "Tomorrow", sans-serif, "Montserrat", serif, sans-serif;
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  min-height: 100dvh;
  background: url(../images/hero-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.title {
  position: relative;
}
.title .back-icon {
  position: absolute;
  top: 0;
  left: 0;
}
.title h1 {
  color: #ffffff;
  padding-block: 2rem;
  text-align: center;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .title h1 {
    font-size: 1.6rem;
  }
}

.pass-mgr-button {
  min-width: max-content;
  max-width: max-content;
  padding: 0.3rem 1rem;
  border: none;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px;
  background-color: #008080;
  cursor: pointer;
}

.hidden-icon {
  position: absolute;
  top: 8px;
  right: 0.8rem;
  cursor: pointer;
}

.alert-meassage {
  margin-bottom: 1rem;
  color: #ffffff;
}

.notifications-container {
  width: 320px;
  height: auto;
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}
.notifications-container .error-alert {
  border-radius: 0.375rem;
  padding: 1rem;
  background-color: rgb(254, 242, 242);
  display: flex;
  flex-shrink: 0;
}
.notifications-container .error-alert.strong {
  background-color: rgb(212, 237, 218);
}
.notifications-container .error-alert.strong .error-prompt-heading {
  color: rgb(21, 87, 89) !important;
  margin-bottom: 0;
}
.notifications-container .error-alert.strong .strong-icon {
  display: block;
}
.notifications-container .error-alert.strong .weak-icon {
  display: none;
}
.notifications-container .error-alert .fa-solid {
  margin-top: 4px;
}
.notifications-container .error-alert .strong-icon {
  color: rgb(21, 87, 89);
  display: none;
}
.notifications-container .error-alert .weak-icon {
  color: #F87171;
}
.notifications-container .error-alert .error-prompt-container {
  display: flex;
  flex-direction: column;
  margin-left: 1.25rem;
}
.notifications-container .error-alert .error-prompt-container .error-prompt-heading {
  color: #991B1B;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: bold;
}
.notifications-container .error-alert .error-prompt-container .error-prompt-wrap {
  color: #B91C1C;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
.notifications-container .error-alert .error-prompt-container .error-prompt-wrap .error-prompt-list {
  padding-left: 1.25rem;
  list-style-type: disc;
}
.notifications-container .error-alert .error-prompt-container .error-prompt-wrap .error-prompt-list li {
  margin-top: 1rem;
}

.content .home-navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content .home-navbar .nav-bar {
  display: flex;
  align-items: center;
}

.primary-header {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.primary-header .logo {
  width: 120px;
  aspect-ratio: 4/2;
  margin-left: clamp(1.6rem, 7vw, 10rem);
  object-fit: cover;
}
.primary-header .primary-navigation {
  --gap: 1rem;
  padding: 0;
  margin: 0;
  font-family: "Tomorrow", sans-serif;
  display: flex;
  gap: var(--gap);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
}
.primary-header .primary-navigation li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}
.primary-header .primary-navigation[data-visible=true] {
  transform: translateX(0);
}
@media (min-width: 761px) {
  .primary-header .primary-navigation {
    --gap: clamp(1rem, 2vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(1rem, 5vw, 10rem);
  }
}
@media (max-width: 761px) {
  .primary-header .primary-navigation {
    --gap: 1.6rem;
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 6rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
}
.primary-header .mobile-nav-toggle {
  display: none;
}
.primary-header .mobile-nav-toggle[aria-expanded=true] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
}
@media (max-width: 761px) {
  .primary-header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23fbfaff' d='M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
    border: none;
    background-repeat: no-repeat;
    width: 1.6rem;
    aspect-ratio: 1;
    outline: none;
    top: 2rem;
    right: 2rem;
  }
}

.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-width: 100dvw;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
}
.login-bg .login-wrapper {
  min-height: 32rem;
  min-width: 24rem;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 1.2rem;
  backdrop-filter: blur(5px);
}
.login-bg .login-wrapper .heading {
  font-size: 18px;
  color: #ffffff;
}
.login-bg .login-wrapper .form {
  margin: 8px;
  margin-top: 3rem;
}
.login-bg .login-wrapper .form .input {
  height: 3.5rem;
  width: 95%;
  padding: 0.3rem;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: none;
  border-radius: 2rem;
  outline: none;
}
.login-bg .login-wrapper .form span {
  color: #ffffff;
}
.login-bg .login-wrapper .form span a {
  color: #ffffff;
  text-decoration: none;
}
.login-bg .login-wrapper .form button {
  padding: 1rem;
  margin-top: 1.5rem;
  height: 3.5rem;
  width: 50%;
  font-size: large;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
.login-bg .login-wrapper .form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.login-bg .popup {
  width: 600px;
  height: 400px;
  position: fixed;
  margin: 0;
  padding: 3rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: white;
}
.login-bg .popup .close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}
.login-bg .popup .heading {
  font-size: 18px;
  color: black;
  text-align: center;
}
.login-bg .popup .signup_form {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3rem;
}
.login-bg .popup .signup_form .input {
  height: 3.5rem;
  width: 100%;
  padding: 0.3rem;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.login-bg .popup .signup_form button {
  padding: 1rem;
  margin-top: 1.5rem;
  height: 3.5rem;
  width: 10rem;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  font-size: large;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.login-bg .popup .signup_form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.credential-single-body {
  background: rgb(29, 40, 60);
  margin-block: 6rem 2rem;
  border-radius: 6px;
  box-shadow: 0 0 20px 5px rgb(21, 30, 47);
  padding-block: 1rem;
  padding-inline: 1rem;
  color: #ffffff;
}
.credential-single-body .title {
  margin-bottom: 2rem;
  align-items: center;
}
.credential-single-body .title .back-icon i {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.credential-single-body .title h1 {
  text-transform: capitalize;
}
.credential-single-body .title .button-section {
  display: flex;
  justify-content: flex-end;
}
.credential-single-body .credential-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(440px, 1fr));
  gap: 2rem;
}
.credential-single-body .credential-listing .credentials {
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "credential-left credential-right" "button-group button-group";
  gap: 1rem;
  background-color: rgb(16, 24, 39);
  padding-block: 1rem;
  padding-inline: 1rem;
  border-radius: 6px;
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group label, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group label {
  margin-bottom: 6px;
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group input, .credential-single-body .credential-listing .credentials .credential-left .credential-info-group .input, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group input, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group .input {
  padding: 0.5rem 0.8rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  min-width: 100%;
  pointer-events: none;
  box-sizing: border-box;
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group .input, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group .input {
  padding-inline: 0;
  text-decoration: underline;
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group .input-container, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group .input-container {
  --copy-btn-width: 45px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group .input-container .hidden-icon, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group .input-container .hidden-icon {
  color: #000000;
  right: calc(0.6rem + var(--copy-btn-width));
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group .input-container .copy-btn, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group .input-container .copy-btn {
  background-color: #C0C0C0;
  height: 100%;
  width: var(--copy-btn-width);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 18px;
  cursor: pointer;
}
.credential-single-body .credential-listing .credentials .credential-left .credential-info-group .input-container .copy-btn i, .credential-single-body .credential-listing .credentials .credential-right .credential-info-group .input-container .copy-btn i {
  color: rgb(16, 24, 39);
}
.credential-single-body .credential-listing .credentials .credential-left {
  grid-area: credential-left;
}
.credential-single-body .credential-listing .credentials .credential-right {
  grid-area: credential-right;
}
.credential-single-body .credential-listing .credentials .credential-button-group {
  grid-area: button-group;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.credential-single-body .credential-listing .credentials .credential-button-group .pass-mgr-button {
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
}
.credential-single-body .credential-listing .credentials .credential-button-group .pass-mgr-button::before {
  --table-btn-icon-height: 20px;
  content: "";
  margin-right: 10px;
  width: var(--table-btn-icon-height);
  height: var(--table-btn-icon-height);
  background-repeat: no-repeat;
  color: #ffffff;
}
.credential-single-body .credential-listing .credentials .credential-button-group .edit-btn::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z'/%3E%3C/svg%3E");
}
.credential-single-body .credential-listing .credentials .credential-button-group .delete-btn::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M135.2 17.7C140.6 6.8 151.7 0 163.8 0L284.2 0c12.1 0 23.2 6.8 28.6 17.7L320 32l96 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 96C14.3 96 0 81.7 0 64S14.3 32 32 32l96 0 7.2-14.3zM32 128l384 0 0 320c0 35.3-28.7 64-64 64L96 512c-35.3 0-64-28.7-64-64l0-320zm96 64c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16zm96 0c-8.8 0-16 7.2-16 16l0 224c0 8.8 7.2 16 16 16s16-7.2 16-16l0-224c0-8.8-7.2-16-16-16z'/%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .credential-single-body .credential-listing .credentials {
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "credential-left" "credential-right" "button-group";
  }
}
@media (max-width: 767px) {
  .credential-single-body .credential-listing {
    grid-template-columns: 1fr;
  }
}

.credential-add-form {
  padding-block: 0;
  padding-inline: clamp(0rem, 5vw, 5rem);
  margin-bottom: 1rem;
}
.credential-add-form .add-form-title {
  margin-bottom: 6px;
  color: #ffffff;
}
.credential-add-form form {
  margin-bottom: 2rem;
  display: grid;
  grid-template-rows: 3fr 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "credential-left credential-right" "button-group button-group";
  gap: 1rem;
}
.credential-add-form form .credential-left .credential-info-group, .credential-add-form form .credential-right .credential-info-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.credential-add-form form .credential-left .credential-info-group label, .credential-add-form form .credential-right .credential-info-group label {
  margin-bottom: 6px;
}
.credential-add-form form .credential-left .credential-info-group input, .credential-add-form form .credential-left .credential-info-group .input, .credential-add-form form .credential-right .credential-info-group input, .credential-add-form form .credential-right .credential-info-group .input {
  padding: 0.5rem 0.8rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  max-width: 100%;
}
.credential-add-form form .credential-left .credential-info-group .input, .credential-add-form form .credential-right .credential-info-group .input {
  padding-inline: 0;
  text-decoration: underline;
}
.credential-add-form form .credential-left {
  grid-area: credential-left;
}
.credential-add-form form .credential-right {
  grid-area: credential-right;
}
.credential-add-form form .credential-button-group {
  grid-area: button-group;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.credential-add-form form .credential-button-group .pass-mgr-button {
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
}
.credential-add-form form .credential-button-group .pass-mgr-button::before {
  --table-btn-icon-height: 20px;
  content: "";
  margin-right: 10px;
  width: var(--table-btn-icon-height);
  height: var(--table-btn-icon-height);
  background-repeat: no-repeat;
  color: #ffffff;
}
.credential-add-form form .credential-button-group .submit-btn::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z'/%3E%3C/svg%3E");
}
@media (max-width: 767px) {
  .credential-add-form form {
    grid-template-rows: 3fr 3fr 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "credential-left" "credential-right" "button-group";
  }
}

.main-body {
  background: rgb(29, 40, 60);
  margin-block: clamp(2rem, 5vw, 6rem) 2rem;
  border-radius: 6px;
  box-shadow: 0 0 20px 5px rgb(21, 30, 47);
  padding-block: 1rem;
  padding-inline: 1rem;
  color: #ffffff;
}
.main-body .title {
  margin-bottom: 2rem;
}
.main-body .title .button-section {
  display: flex;
  justify-content: flex-end;
}
.main-body .title .button-section .site-add-button i {
  margin-right: 8px;
}
.main-body .site-add-form {
  margin-bottom: 2rem;
}
.main-body .site-add-form .form-site, .main-body .site-add-form .form-credential {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "credential-left credential-right" "button-group button-group";
  gap: 1rem;
}
.main-body .site-add-form .form-site .credential-left .credential-info-group, .main-body .site-add-form .form-site .credential-right .credential-info-group, .main-body .site-add-form .form-credential .credential-left .credential-info-group, .main-body .site-add-form .form-credential .credential-right .credential-info-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.main-body .site-add-form .form-site .credential-left .credential-info-group label, .main-body .site-add-form .form-site .credential-right .credential-info-group label, .main-body .site-add-form .form-credential .credential-left .credential-info-group label, .main-body .site-add-form .form-credential .credential-right .credential-info-group label {
  margin-bottom: 6px;
}
.main-body .site-add-form .form-site .credential-left .credential-info-group input, .main-body .site-add-form .form-site .credential-left .credential-info-group .input, .main-body .site-add-form .form-site .credential-right .credential-info-group input, .main-body .site-add-form .form-site .credential-right .credential-info-group .input, .main-body .site-add-form .form-credential .credential-left .credential-info-group input, .main-body .site-add-form .form-credential .credential-left .credential-info-group .input, .main-body .site-add-form .form-credential .credential-right .credential-info-group input, .main-body .site-add-form .form-credential .credential-right .credential-info-group .input {
  padding: 0.5rem 0.8rem 0.5rem;
  border: none;
  outline: none;
  border-radius: 5px;
  max-width: 100%;
}
.main-body .site-add-form .form-site .credential-left .credential-info-group .input, .main-body .site-add-form .form-site .credential-right .credential-info-group .input, .main-body .site-add-form .form-credential .credential-left .credential-info-group .input, .main-body .site-add-form .form-credential .credential-right .credential-info-group .input {
  padding-inline: 0;
  text-decoration: underline;
}
.main-body .site-add-form .form-site .credential-left, .main-body .site-add-form .form-credential .credential-left {
  grid-area: credential-left;
}
.main-body .site-add-form .form-site .credential-right, .main-body .site-add-form .form-credential .credential-right {
  grid-area: credential-right;
}
@media (max-width: 767px) {
  .main-body .site-add-form .form-site, .main-body .site-add-form .form-credential {
    grid-template-columns: 1fr;
    grid-template-areas: "credential-left" "credential-right" "button-group";
  }
}
.main-body .site-add-form .site-add-button-group {
  grid-area: button-group;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.main-body .site-add-form .site-add-button-group .pass-mgr-button {
  height: 80%;
  display: flex;
  align-items: center;
  position: relative;
}
.main-body .site-add-form .site-add-button-group .pass-mgr-button::before {
  --table-btn-icon-height: 20px;
  content: "";
  margin-right: 10px;
  width: var(--table-btn-icon-height);
  height: var(--table-btn-icon-height);
  background-repeat: no-repeat;
  color: #ffffff;
}
.main-body .site-add-form .site-add-button-group .submit-btn::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M64 80c-8.8 0-16 7.2-16 16l0 320c0 8.8 7.2 16 16 16l320 0c8.8 0 16-7.2 16-16l0-320c0-8.8-7.2-16-16-16L64 80zM0 96C0 60.7 28.7 32 64 32l320 0c35.3 0 64 28.7 64 64l0 320c0 35.3-28.7 64-64 64L64 480c-35.3 0-64-28.7-64-64L0 96zM337 209L209 337c-9.4 9.4-24.6 9.4-33.9 0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L303 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9z'/%3E%3C/svg%3E");
}
.main-body .site-listing {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  gap: 2rem;
}
.main-body .site-listing .sites {
  max-width: 380px;
  display: flex;
  flex-direction: column;
  background-color: rgb(16, 24, 39);
  padding: 1rem 2rem 1rem;
  border-radius: 6px;
  cursor: pointer;
}
.main-body .site-listing .sites .site-name {
  font-size: 1.6rem;
  letter-spacing: 2px;
}
@media (max-width: 767px) {
  .main-body .site-listing {
    grid-template-columns: 1fr;
  }
}

.profilebody {
  padding: 0 clamp(1rem, 10vh, 6rem);
  background: rgb(29, 40, 60);
  margin-top: 6rem;
  border-radius: 6px;
  box-shadow: 0 0 20px 5px rgb(21, 30, 47);
}
.profilebody .body {
  padding-inline: 20px;
  padding-bottom: 2rem;
}
.profilebody .body form .profile-form-input-group {
  margin-bottom: 2rem;
  width: max-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
}
.profilebody .body form .profile-form-input-group label {
  color: #ffffff;
  width: 7rem;
}
.profilebody .body form .profile-form-input-group input {
  width: 16rem;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 6px;
  border: none;
  outline: none;
}

.password-generator-body {
  background: rgb(29, 40, 60);
  margin-block: 6rem 2rem;
  border-radius: 6px;
  box-shadow: 0 0 20px 5px rgb(21, 30, 47);
  padding-block: 1rem;
  padding-inline: 1rem;
  color: #ffffff;
}
.password-generator-body .body .password-container {
  --copy-btn-width: 60px;
  --padding-inline: 2rem;
  padding: 1rem var(--padding-inline) 1rem;
  padding-right: calc(var(--copy-btn-width) + var(--padding-inline));
  margin-bottom: 2rem;
  width: fit-content;
  min-width: 300px;
  min-height: 56px;
  text-align: center;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.password-generator-body .body .password-container .copy-btn {
  background-color: #C0C0C0;
  height: 100%;
  width: var(--copy-btn-width);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.password-generator-body .body .password-container .copy-btn i {
  color: rgb(16, 24, 39);
}
.password-generator-body .body form .generator-form-input-group {
  margin-bottom: 2rem;
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  gap: 1rem;
}
.password-generator-body .body form .generator-form-input-group label {
  color: #ffffff;
  width: 16rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.password-generator-body .body form .generator-form-input-group label .checkBox {
  display: block;
  cursor: pointer;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px #fff;
}
.password-generator-body .body form .generator-form-input-group label .checkBox div {
  width: 60px;
  height: 60px;
  background-color: #fff;
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}
.password-generator-body .body form .generator-form-input-group label .checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}
.password-generator-body .body form .generator-form-input-group label .checkBox input[type=checkbox]:checked + div {
  left: -10px;
  top: -10px;
}
.password-generator-body .body form .generator-form-input-group label .checkBox .transition {
  transition: 500ms ease;
}
.password-generator-body .body form .generator-form-input-group input {
  width: 4rem;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 6px;
  border: none;
  outline: none;
}
.password-generator-body .body form .generator-form-input-group p {
  color: #ffffff;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
