body {
  font-family: "Tomorrow", sans-serif, "Montserrat", serif, sans-serif;
  padding: 0;
  margin: 0;
  background: url(../images/hero-background.png);
  background-size: cover;
  background-position: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.login-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100dvh;
  min-width: 100dvw;
  background: url(../images/background.jpg) no-repeat;
  background-size: cover;
}
.login-bg .login-wrapper {
  min-height: 32rem;
  min-width: 24rem;
  padding: 25px;
  box-sizing: border-box;
  text-align: center;
  border: 1px solid #ffffff;
  border-radius: 1.2rem;
  backdrop-filter: blur(5px);
}
.login-bg .login-wrapper .heading {
  font-size: 18px;
  color: #ffffff;
}
.login-bg .login-wrapper .form {
  margin: 8px;
  margin-top: 3rem;
}
.login-bg .login-wrapper .form .input {
  height: 3.5rem;
  width: 95%;
  padding: 0.3rem;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: none;
  border-radius: 2rem;
  outline: none;
}
.login-bg .login-wrapper .form span {
  color: #ffffff;
}
.login-bg .login-wrapper .form span a {
  color: #ffffff;
  text-decoration: none;
}
.login-bg .login-wrapper .form button {
  padding: 1rem;
  margin-top: 1.5rem;
  height: 3.5rem;
  width: 50%;
  font-size: large;
  box-sizing: border-box;
  border: none;
  outline: none;
  border-radius: 2rem;
  transition: all 0.3s ease;
}
.login-bg .login-wrapper .form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
.login-bg .popup {
  width: 600px;
  height: 400px;
  position: fixed;
  margin: 0;
  padding: 3rem;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  background-color: white;
}
.login-bg .popup .close-btn {
  position: absolute;
  right: 2rem;
  top: 2rem;
  cursor: pointer;
}
.login-bg .popup .heading {
  font-size: 18px;
  color: black;
  text-align: center;
}
.login-bg .popup .signup_form {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 3rem;
}
.login-bg .popup .signup_form .input {
  height: 3.5rem;
  width: 100%;
  padding: 0.3rem;
  padding-inline: 1.5rem;
  margin-bottom: 1.5rem;
  box-sizing: border-box;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 0.5rem;
}
.login-bg .popup .signup_form button {
  padding: 1rem;
  margin-top: 1.5rem;
  height: 3.5rem;
  width: 10rem;
  position: absolute;
  right: 3rem;
  bottom: 2rem;
  font-size: large;
  box-sizing: border-box;
  border: 1px solid black;
  outline: none;
  border-radius: 0.5rem;
  transition: all 0.3s ease;
}
.login-bg .popup .signup_form button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.content .home-navbar {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.content .home-navbar .nav-bar {
  display: flex;
  align-items: center;
}

.primary-header {
  padding-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.primary-header .logo {
  width: 120px;
  aspect-ratio: 4/2;
  margin-left: clamp(1.6rem, 7vw, 10rem);
  object-fit: cover;
}
.primary-header .primary-navigation {
  --gap: 1rem;
  padding: 0;
  margin: 0;
  font-family: "Tomorrow", sans-serif;
  display: flex;
  gap: var(--gap);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0.5rem);
}
.primary-header .primary-navigation li a {
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
}
.primary-header .primary-navigation[data-visible=true] {
  transform: translateX(0);
}
@media (min-width: 761px) {
  .primary-header .primary-navigation {
    --gap: clamp(1rem, 2vw, 3rem);
    padding-block: 2rem;
    padding-inline: clamp(1rem, 5vw, 10rem);
  }
}
@media (max-width: 761px) {
  .primary-header .primary-navigation {
    --gap: 1.6rem;
    z-index: 1000;
    position: fixed;
    inset: 0 0 0 30%;
    flex-direction: column;
    padding: min(30vh, 6rem) 2rem;
    transform: translateX(100%);
    transition: transform 350ms ease-out;
  }
}
.primary-header .mobile-nav-toggle {
  display: none;
}
.primary-header .mobile-nav-toggle[aria-expanded=true] {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 384 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z'/%3E%3C/svg%3E");
}
@media (max-width: 761px) {
  .primary-header .mobile-nav-toggle {
    display: block;
    position: absolute;
    z-index: 9999;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23fbfaff' d='M0 96C0 78.3 14.3 64 32 64l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 128C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32l384 0c17.7 0 32 14.3 32 32s-14.3 32-32 32L32 288c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32L32 448c-17.7 0-32-14.3-32-32s14.3-32 32-32l384 0c17.7 0 32 14.3 32 32z'/%3E%3C/svg%3E");
    border: none;
    background-repeat: no-repeat;
    width: 1.6rem;
    aspect-ratio: 1;
    outline: none;
    top: 2rem;
    right: 2rem;
  }
}

.table-container {
  background: rgb(29, 40, 60);
  margin-top: 6rem;
  border-radius: 6px;
  box-shadow: 0 0 20px 5px rgb(21, 30, 47);
}
.table-container .table-title {
  padding-block: 2rem;
  color: #fff;
  text-align: center;
}
.table-container .dashboard-table {
  width: 100%;
  max-height: 100%;
  color: #ffffff;
  padding: 0 4px;
}
.table-container .dashboard-table .dashboard-table-head {
  display: flex;
  align-items: center;
  border-radius: 4px;
  background-color: rgb(16, 24, 39);
  position: sticky;
  top: 0;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell {
  font-weight: 600;
}
.table-container .dashboard-table .dashboard-table-row {
  display: flex;
  align-items: center;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell {
  padding: 8px 16px;
  flex: 1;
  color: #ffffff;
  font-size: 16px;
  display: flex;
  align-items: center;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell.option-cell, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell.option-cell {
  max-width: 50px;
  position: relative;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell.option-cell .dropdown-icon i:hover, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell.option-cell .dropdown-icon i:hover {
  cursor: pointer;
  background-color: rgb(16, 24, 39);
  border-radius: 50%;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell.option-cell .option-dropdown-menu, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell.option-cell .option-dropdown-menu {
  margin: 0;
  width: max-content;
  padding: 0.3rem 0.3rem;
  position: absolute;
  top: 0rem;
  right: 100%;
  border-radius: 0.5rem;
  background: rgb(21, 30, 47);
  transform: translateY(-20%);
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-out;
  z-index: 100;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell.option-cell .option-dropdown-menu[data-visible=true], .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell.option-cell .option-dropdown-menu[data-visible=true] {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell.option-cell .option-dropdown-menu li, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell.option-cell .option-dropdown-menu li {
  padding: 0.7rem 0.5rem;
  border-radius: 6px;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell.option-cell .option-dropdown-menu li:hover, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell.option-cell .option-dropdown-menu li:hover {
  cursor: pointer;
  background: rgb(29, 40, 60);
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell.option-cell .option-dropdown-menu li:active, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell.option-cell .option-dropdown-menu li:active {
  background: rgb(16, 24, 39);
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell .table-btn, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell .table-btn {
  display: flex;
  align-items: center;
  min-width: max-content;
  padding: 0.3rem 1rem;
  border: none;
  color: #ffffff;
  font-weight: 500;
  border-radius: 3px;
  --color1: #FF4500;
  --color2: #C0C0C0;
  --color3: #FFD700;
  --color4: #008080;
  background-color: #008080;
  position: relative;
}
.table-container .dashboard-table .dashboard-table-head .dashboard-table-cell .table-btn::before, .table-container .dashboard-table .dashboard-table-row .dashboard-table-cell .table-btn::before {
  --table-btn-icon-height: 20px;
  content: "";
  margin-right: 10px;
  width: var(--table-btn-icon-height);
  height: var(--table-btn-icon-height);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath fill='%23ffffff' d='M471.6 21.7c-21.9-21.9-57.3-21.9-79.2 0L362.3 51.7l97.9 97.9 30.1-30.1c21.9-21.9 21.9-57.3 0-79.2L471.6 21.7zm-299.2 220c-6.1 6.1-10.8 13.6-13.5 21.9l-29.6 88.8c-2.9 8.6-.6 18.1 5.8 24.6s15.9 8.7 24.6 5.8l88.8-29.6c8.2-2.7 15.7-7.4 21.9-13.5L437.7 172.3 339.7 74.3 172.4 241.7zM96 64C43 64 0 107 0 160L0 416c0 53 43 96 96 96l256 0c53 0 96-43 96-96l0-96c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 96c0 17.7-14.3 32-32 32L96 448c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l96 0c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 64z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  color: #ffffff;
}

.nav-link {
  color: #000;
  font-size: 1.5rem;
  margin-top: 0.2rem;
}

.logout-btn {
  padding: 0.8rem 1.2rem;
  background-color: white;
  color: red;
  font-size: 1rem;
  border: 3px solid red;
  border-radius: 5rem;
}
.logout-btn:hover {
  cursor: pointer;
  color: white;
  background-color: red;
  transition: color 0.2s;
}

.sidebar {
  background-color: var(#ffffff);
  color: #ffffff;
  height: 100dvh;
  padding: 30px;
  padding-right: 18px;
}
.sidebar .sidebar-section-1 .sidebar-section-title {
  font-size: 1.8rem;
  margin-bottom: 20px;
  /* Media query for small screens */
}
.sidebar .sidebar-section-1 .sidebar-section-title .menu-icon {
  display: none; /* Hide the icon by default */
  cursor: pointer;
}
@media (max-width: 768px) {
  .sidebar .sidebar-section-1 .sidebar-section-title .menu-icon {
    display: inline-block; /* Display the icon on small screens */
  }
}
.sidebar .sidebar-section-1 .sidebar-section-content {
  font-size: 1.2rem;
  font-weight: 800;
}
.sidebar .sidebar-section-1 .sidebar-section-content .sidebar-list {
  padding: 0;
  margin-bottom: 10px;
  list-style-type: none;
}
.sidebar .sidebar-section-1 .sidebar-section-content .sidebar-list .sidebar-item {
  padding: 0;
  margin-bottom: 24px;
}
.sidebar .sidebar-section-1 .sidebar-section-content .sidebar-list .sidebar-item .sidebar-link {
  padding-inline: 18px;
  padding-block: 12px;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 24px;
}
.sidebar .sidebar-section-1 .sidebar-section-content .sidebar-list .sidebar-item .sidebar-link.active {
  background-color: gold;
  color: black;
}

@media (max-width: 960px) {
  .sidebar {
    margin-left: -170px;
    position: absolute;
    min-height: 100vh;
    transition: margin-left 0.3s ease;
  }
  .sidebar.active {
    margin-left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
